
trigger:
- main

pool:
  name: MyMacAgent  # Changed from 'vmImage: ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- script: |
    npm install
    npm run build
  displayName: 'npm install and build'
```

---

